/* Organized using BEM */

/* Block Section */

body {
  background-color: #3E2A35;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}

hr {
  background-color: #3E2A35;
  color: #3E2A35;
  margin: 0px;
  padding: 0px;
}

h2 {
  grid-column: 2 / span 3;
  height: 3000px;
  text-align: center;
  width: 65%;
}

header {
  background-color: #3E2A35;
  display: grid;
  grid-template-columns: 425px 1fr 300px;
}

html {
  background-color: #3E2A35;
}

/* Element Section */

.add-to-album-btn {
  background-color: #5B4447;
  border: none;
  color: white;
  height: 28px;
  width: 115px;
}

.bottom-section {
  background-color: #C2B2B4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100%;
}

.caption-input-field {
  height:35px;
  margin: 0 0 24px 0;
  width: 97%;
}

.caption-text {
  color: #fff;
  margin-bottom: 10px;
}

.card {
  background-color: #fff;
  border: 2px solid #938284;
  color: #3E2A35;
  display: grid;
  grid-template-rows: 5% 50% 30% 15%;
  height: 450px;
  margin:28px;
  width: 300px;
}

.card-icons {
  align-items: flex-end;
  background-color: #3E2A35;
  display: flex;
  justify-content: space-between;
}

.card-image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.delete-button { 
  background-color: #3E2A35;
  background-image: url(images/delete.svg);
  background-repeat: no-repeat;
  border: 0px;
  height: 35px;
  margin: 15px;
  transition: all 500ms ease;
  width: 35px;
}

.fas{
  color: #fff;
  font-size: 20px;
  margin: 12px 0px 0px 12px;
}

.fav-button{ 
  background-color: #3E2A35;
  background-image: url(images/favorite.svg);
  background-repeat: no-repeat;
  border: 0px;
  height: 35px;
  margin: 15px;
  transition: all 500ms ease;
  width: 35px;
}

.fav-svg {
  height: 40px;
}

.ff-logo {
  color: #fff;
  font-size: 54px;
  margin: 20px 0px 0px 20px;
}

.ff-logo-img {
  height: 50px;
}

.input-file {
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  z-index: -1;
}

.lower-buttons {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin: 20px 6px 20px 0px;
}

.photo-caption, .photo-title{
  padding-left: 10px;
}

.searchbar {
  display:flex;
  background-color: #3E2A35;
  height: 37px;
  margin: 43px 20px 0px 0px;
}

.search-input {
  border: 0px;
  border-radius: 3px 0px 0px 3px;
  width: 75%;
}

.search-svg {
  fill: #fff;
}

.submit-button {
  background-color: #C2B2B4;
  border: 0px;
  border-radius: 0px 3px 3px 0px;
  margin-left: -5px;
  padding: 0px;
  width: 50px;
}

.title-input{
  margin: 0px;
}

.title-input-field {
  height: 35px;
  width: 97%;
  margin: 0 0 20px;
}

.title-text {
  color: #fff;
  margin-bottom: 10px;
}

.top-section {
  background-color: #3E2A35;
  display: grid;
  grid-template-columns: 1fr 420px 1fr;
}  

.top-section-column .label {
  background-color: #5B4447;
  color: #fff;
  padding: 5px 159px;
  width: 100%;
}

.top-section-column {
  grid-column: 2;
  margin-top: 20px;
}

.view-more-btn, .view-fav-btn, .view, .show-more, .show{
  background-color: #5B4447;
  border: none;
  color: white;
  height: 28px;
  width: 115px;
}

/* Modifier Section */

.add-to-album-btn:disabled {
  background-color: dimgrey;
}

.delete-button:hover {
  height: 40px;
  width: 40px;
}

.fav-button:hover {
  height: 40px;
  width: 40px;
}

.view-fav-btn:hover, .view-more-btn:hover, .add-to-album-btn:hover {
  filter:brightness(1.5);
}

@media screen and (max-width: 1430px) { 
  .bottom-section {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1200px) {
  .bottom-section {
    display:grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 945px) {
  .bottom-section {
    display:grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 945px) {
  .bottom-section {
    display:grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 900px) {
  .card {
    margin: 10px 11%;
  }
 
  .ff-logo { 
    margin-bottom: 50px;
    margin-left: 25%;
    height: 25px
  }
 
  .ff-logo-img {
    height: 25px;
  }

  .header {
    display: block;
  } 
 
  .searchbar {
    margin: 0 25%;
    width: 200px;
    }
}

@media screen and (max-width: 840px) {
  .ff-logo {
    margin-left: 26%;
    margin-bottom: 25px;
    font-size: 25px;
  }
}

@media screen and (max-width: 500px) {
  
  h2 {
    width: 82%;
    }
  
  .card {
    margin: 10px 11%;
    }
  
  .ff-logo {
    margin-left: 26%;
    margin-bottom: 25px;
    font-size: 25px;
    }
};