.add-to-album-btn {
    background-color: #5B4447;
    border: none;
    color: white;
    height: 28px;
    width: 155px;
}

.add-to-album-btn:hover {
    filter:brightness(1.5);
}


body {
    background-color: #C2B2B4;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

.bottom-section {
    background-color: #C2B2B4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100%;
}

.caption-input-field {
    height:35px;
    width: 97%;
}

.caption-text {
    color: #fff;
    margin-bottom: 10px;
}

.card {
    background-color: #fff;
    border: 2px solid #938284;
    color: #3E2A35;
    display: grid;
    grid-template-rows: 5% 50% 30% 15%;
    height: 450px;
    margin: 20px;
}

.card-icons {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    background-color: #3E2A35;
}

.card-image {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.delete-button { 
    background-color: #3E2A35;
    background-image: url(images/delete.svg);
    background-repeat: no-repeat;
    border: 0px;
    height: 35px;
    margin: 15px;
    transition: all 500ms ease;
    width: 35px;
}

.delete-button:hover {
    height: 40px;
    width: 40px;
}


.fas{
    color: #fff;
    font-size: 20px;
    margin: 12px 0px 0px 12px;
}

.fav-button{ 
    background-color: #3E2A35;
    background-image: url(images/favorite.svg);
    background-repeat: no-repeat;
    border: 0px;
    height: 35px;
    margin: 15px;
    transition: all 500ms ease;
    width: 35px;
}

.fav-button:hover {
    width: 40px;
    height: 40px;
}

.fav-svg {
    height: 40px;
}

.ff-logo {
    color: #fff;
    font-size: 35px;
    margin: 20px 0px 0px 20px;
}

.ff-logo-img {
    height: 35px;
}

.header {
    background-color: #3E2A35;
    display: grid;
    grid-template-columns: 300px 1fr 265px;
}

hr {
    background-color: #3E2A35;
    margin: 0px;
}

.input-file {
    height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	width: 0.1px;
	z-index: -1;
}

.label {
    background-color: #5B4447;
    width: 100%;
}

.lower-buttons {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin: 20px 6px 20px 0px;
}

.photo-caption, .photo-title{
    padding-left: 10px;
    padding-top: 10px;
}

.searchbar {
    display:flex;
    background-color: #3E2A35;
    height: 37px;
    margin: 20px 20px 0px 0px;
}

.search-input {
    border: 0px;
    border-radius: 3px 0px 0px 3px;
    width: 75%;
    
}

.search-svg {
    fill: #fff;
}

.submit-button {
   background-color: #C2B2B4;
   border: 0px;
   border-radius: 0px 3px 3px 0px;
   margin-left: -5px;
   padding: 0px;
   width: 50px;
   
}

.title-input{
    margin: 0px;
}

.title-input-field {
    height: 35px;
    width: 97%;
}

.title-text {
    color: #fff;
    margin-bottom: 10px;
}

.top-section {
    background-color: #3E2A35;
    display: grid;
    grid-template-columns: 1fr 420px 1fr;
}   

.top-section-column {
    grid-column: 2;
    margin-top: 20px;
}

.view-fav-btn {
    background-color: #5B4447;
    border: none;
    color: white;
    height: 28px;
    width: 155px;
}

.view-fav-btn:hover {
    filter:brightness(1.5);
}


@media screen and (max-width: 1350px) {
    .bottom-section {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media screen and (max-width: 1110px) {
    .bottom-section {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (max-width: 760px) {
    .bottom-section {
        display:grid;
        grid-template-columns: 1fr;
    }

    .header {
        display: block;
    }
}